
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" media="screen">

    <title>FORUM</title>

</head>

<body>
  <!-- Navigation bar -->
  <header class="header">
      <!-- Logo -->
      <a href="/" class="logo">Home</a>

      <!-- Hamburger icon -->
      <input class="side-menu" type="checkbox" id="side-menu"/>
      <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>

       <!-- Menu -->
    <nav class="nav withoverflow">
      <div class="menu">
        <div><a class="menu-a" href="/posts">All Posts</a></div>
        <div><a class="menu-a" href="/registration">Registration</a></div>
        <div><a class="menu-a" href="/login">Login</a></div>
        <div><a class="menu-a" href="/logout">Logout</a></div>

      </div>
  </nav>
  </header>
  <!-- Main content -->
  <main>
    <div class="main">
      <h1></h1>
  </main>
</body>

</html>

